:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --gray-color: #242424;
  --gray-color-2: #525252;
  --gray-color-3: #cccccc;
  --gray-color-4: #ebebeb;
  --green-color: #88b06a;
  --green-color-2: #6c8d53;
  --dark-green-color: #013914;
  --red-color: #cf2e2e;

  color-scheme: light dark;
  color: var(--gray-color);
  background-color: var(--gray-color-4);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  //scroll-behavior: smooth;
}

a {
  color: inherit;
  font-weight: 500;
  text-decoration: none;
}
a:hover {
  opacity: 0.5;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  width: 100dvw;
  height: 100dvh;
  overflow-x: hidden;
}
