.container {
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: #fff;
  color: black;
  justify-content: center;

  .menu {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .left {
      display: flex;
      align-items: center;
      gap: 10px;
      color: #555;
      font-weight: 500;
    }

    .cat {
      text-transform: capitalize;
    }

    .right {
      display: flex;
      align-items: center;
      gap: 10px;
      position: relative;

      .sortBy {
        color: #555;
        font-weight: 300;
      }
      .sortType {
        font-weight: 500;
      }

      img {
        width: 15px;
        cursor: pointer;
      }

      .rightMenu {
        padding: 20px;
        background-color: #fff;
        border-radius: 5px;
        border: 0.5px solid lightgray;
        position: absolute;
        top: 30px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        color: #555;
        z-index: 5;

        span {
          cursor: pointer;
        }
      }
    }
  }

  // .cards {
  //   display: flex;
  //   flex-wrap: wrap;
  //   justify-content: space-between;
  // }
}
