.container {
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  //background-color: #fff;
  color: black;
  justify-content: center;
  h1 {
    text-transform: capitalize;
  }

  .menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .left {
      display: flex;
      align-items: center;
      gap: 10px;
      color: #555;
      font-weight: 500;
    }

    .cat {
      text-transform: capitalize;
    }

    .right {
      display: flex;
      align-items: end;
      gap: 20px;
      .sortBy {
        color: #555;
        font-weight: 300;
      }
      div {
        width: auto;
      }
    }
  }
}
