.button {
  background-color: var(--green-color);
  margin: 20px 0;
  padding: 10px;
  color: #000000;
  border: 1px solid var(--green-color);
  font-weight: 500;
  font-size: 18px;
  cursor: pointer;
  transition: all 0.5s ease;
  text-transform: capitalize;
  &:disabled {
    color: #fff;
    opacity: 0.5;
    background-color: transparent;
    cursor: default;
    &:hover {
      opacity: 0.5;
    }
  }
  &:hover {
    opacity: 0.7;
  }
}
